<app-header></app-header>
<div class="container">
    <div class="center">
        <h1>Admin Login!!</h1>

        <form [formGroup]=" AdminLoginForm" >   
            <div class="text_field">
                <input type="text" required id="username" name="username" #fn formControlName="username">
                <span></span>
                <label>Username</label>
            </div>
            <div *ngIf="! AdminLoginForm.get('username')?.valid && ( AdminLoginForm.get('username')?.dirty ||  AdminLoginForm.get('username')?.touched)" class="error">
                <div *ngIf=" AdminLoginForm.get('username')!.errors!.required">
                 Username is required
                </div>
            </div>      

            <div class="text_field">
                <input type="password" required  id="password" name="password" #fn formControlName="password">    
                <span></span>
                <label>Password</label>
            </div>
            <div *ngIf="! AdminLoginForm.get('password')?.valid && ( AdminLoginForm.get('password')?.dirty ||  AdminLoginForm.get('password')?.touched)" class="error">
                <div *ngIf=" AdminLoginForm.get('password')!.errors!.required">
                 Password is required
                </div>
            </div>      

            <input type="submit" value="Login">
            <button  routerLink="" routerLinkActive="router-link-active" type="button" onclick="cancel()">Cancel</button>
        
        </form>
    </div>
  
   
</div>
<app-footer></app-footer>