<p>search works!</p>
<div>
    <nav>        
    <div>
        <img src="" alt="logo">
    </div>
    <div>
        <a routerLink="/login">Login</a>
        <a routerLink="/signup">Signup</a>
    </div>
    </nav>
    
    <div>
        <h2>My your Plan with Us</h2>
        <h1>Where you want to go</h1>        
    </div>

    <div>
        <form>
            <div>
                <div>
                    <div>
                        <input type="radio" value="one-way" name="journey">
                        <label for="one-way">One Way</label>
                    </div>
                    <div>
                        <input type="radio" value="Return" name="journey">
                        <label for="return"></label>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <input type="text" id="input-group" required placeholder="From">
                    <input type="date" id="input-group" required placeholder="To">
                    <input type="date" id="input-group" required placeholder="Departure">
                    <input type="date" id="input-group" required placeholder="Arrival">
                </div>
                <div>
                    <button type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<footer>
    <a href="">Go to Admin</a>
</footer>
