<div>
    <div>
        <img src="" alt="logo">
    </div>
    <div>
        <h1>Signup</h1>
        <form>
            <div>

            </div>
            <div>
                <div>
                    <div>
                        <label>Title</label>
                        <input type="text" name="title" required>
                    </div>
                    <div>
                        <label>First name</label>
                        <input type="text" name="first_name" required>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <label>Last Name</label>
                        <input type="text" name="last-name" required>
                    </div>
                    <div>
                        <label>Date</label>
                        <input type="text" name="dob" required>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <label>Password</label>
                        <input type="text" name="password" required>
                    </div>
                    <div>
                        <label>Confirm Password</label>
                        <input type="text" name="cnfpwd" required>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <label>Email</label>
                        <input type="text" name="email" required>
                    </div>
                    <div>
                        <label>Phone numbner</label>
                        <input type="text" name="mobile" required>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </div>
            <div>
                <div>
                    <button type="submit">Already have an account? Login</button>
                </div>
            </div>                        
        </form>
    </div>
</div>
